{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.*?.json"
  },
  "env": {
    "node": true
  },
  "ignorePatterns": ["**/*.ts"],
  "plugins": ["@typescript-eslint", "@nrwl/nx"],
  "extends": [
  ],
  "rules": {
  },
  "overrides": [
  ]
}
