node_modules
/.idea
/.fleet
/.vscode
dist
/build
/coverage
./test
.DS_Store
tmp
*.log
jest.debug.config.js
.tool-versions
/.nx-cache
/.nx
/.verdaccio/build/local-registry
/graph/client/src/assets/environment.js
/graph/client/src/assets/dev/environment.js
/graph/client/src/assets/generated-project-graphs
/graph/client/src/assets/generated-task-graphs
/graph/client/src/assets/generated-task-inputs
/graph/client/src/assets/generated-source-maps
/nx-dev/nx-dev/public/documentation
/nx-dev/nx-dev/public/tutorials
/nx-dev/nx-dev/public/images/open-graph
**/tests/temp-db

# Issues scraper creates these files, stored by github's cache
/scripts/issues-scraper/cached

# We don't commit a CHANELGELOG.md file to the repo, we only create Github releases
CHANGELOG.md

# Next.js
.next
out

# Angular Cache
.angular

# Astro Cache
.astro

# Local dev files
.env.local
.bashrc

*.node

# Fix for issue when working on the repo in a dev container
.pnpm-store
.nx
!.nx/workflows

.cargo/.package-cache
.cargo/bin/
.cargo/env
.cargo/registry/
.local/
.npm/
.profile
.rustup/
target
*.wasm
/wasi-sdk*

vite.config.*.timestamp*

storybook-static

# Ignore Gradle project-specific cache directory
.gradle
.kotlin

.claude/settings.local.json

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 
