node_modules
.idea
/.vscode
dist
/build
/coverage
./test
.DS_Store
tmp
*.log
jest.debug.config.js
.tool-versions
/.nx-cache
/.verdaccio/build/local-registry
dep-graph/client/src/assets/environment.js
/nx-dev/nx-dev/public/documentation
/nx-dev/nx-dev/public/images/open-graph
# Lerna creates this
CHANGELOG.md
