{
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.mdoc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
