language: node_js
dist: trusty
sudo: required
node_js:
  - '8.9.3'
before_install:
  - export DISPLAY=:99.0
install:
  - sh -e /etc/init.d/xvfb start
  - yarn install
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then yarn checkformat --head=$TRAVIS_PULL_REQUEST_SHA --base=$(git merge-base HEAD $TRAVIS_BRANCH); fi'
  - yarn test
  - yarn e2e
addons:
  chrome: stable
cache:
  directories:
    - node_modules
notifications:
  email: false
  webhooks:
    on_success: true
    on_failure: true
    on_start: true
