@keyframes wobble {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.constellation-wobble-animation {
  animation: wobble 60s linear infinite;
}
