@tailwind base;

/*! purgecss start ignore */
@import 'nx-dev/feature-search/src/lib/algolia-search.global.css';
@import './syntax-highlight.css';
/*! purgecss end ignore */

@tailwind components;
@tailwind utilities;

svg {
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

@font-face {
  src: url('../public/fonts/InputMono-Regular.woff2') format('woff2'),
    url('../public/fonts/InputMono-Regular.woff') format('woff');
  font-family: 'InputMono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
.font-input-mono {
  font-family: 'InputMono', monospace;
}
code,
pre,
.prose code,
.prose pre {
  font-family: 'InputMono', monospace;
}

/** Layout **/
#__next {
  height: 100%;
}

/** Theme Switcher **/
.changing-theme,
.changing-theme * {
  transition: none !important;
}

/*
  General CSS rules for markdown iframes and img
 */
iframe[src*='youtube'] {
  aspect-ratio: 16 / 9;
}
.prose iframe,
.prose img {
  display: block;
  margin: 2rem auto;
}
.prose iframe {
  width: 100%;
  max-width: 560px;
}
.prose img {
  width: max-content;
}

.prose iframe[src^="https://staging.nx.app"],
.prose iframe[src^="https://nx.app"]
{
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

/*
  Code embed
 */
.prose pre {
  background: inherit !important;
  color: inherit !important;
  border: 1px solid #e1e4e8;
}

/*
  Headers
 */
.prose h5,
.prose h6 {
  font-weight: 600;
}

/*
  Conf
 */
.date-container-l,
.date-container-r {
  position: relative;
}
.date-container-l .bg-blue-nx-dark:before {
  background: hsla(214, 61%, 11%, 1);
  content: ' ';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.date-container-r .bg-blue-nx-dark:after {
  background: hsla(214, 61%, 11%, 1);
  content: ' ';
  height: 100%;
  right: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.workshop-border-r {
  position: relative;
}
.workshop-border-r:after {
  border-bottom: 1px solid rgb(75, 85, 99);
  border-top: 1px solid rgb(75, 85, 99);
  content: ' ';
  height: 100%;
  right: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * Only used for animated background on really big definition
 */
@media (min-width: 2400px) {
  div#animated-background {
    background-size: cover !important;
  }
}

/**
 * Sponsor carousel
 */
#sponsors-carousel {
  animation: scroll 80s linear infinite;
  width: calc(192px * 18);
}
#sponsors-carousel div {
  margin: 0 24px;
  min-width: 144px;
  width: 144px;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(calc(-192px * 18), 0, 0);
  }
}

/**
 * Tooltips
 */
[data-tooltip] {
  cursor: help;
  position: relative;
}

[data-tooltip]:before {
  background-color: hsla(214, 61%, 11%, 1);
  border-radius: 0.375rem;
  color: hsla(0, 0%, 95%, 1);
  content: attr(data-tooltip);
  left: 0;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 120%;
  transition: opacity 150ms ease-out;
  visibility: hidden;
  z-index: 1;
  width: max-content;
}

[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}
