@tailwind base;

/*! purgecss start ignore */
@import 'nx-dev/feature-search/src/lib/algolia-search.global.css';
@import 'highlight.js/styles/github-gist.css';
/*! purgecss end ignore */

@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import './constellation-wobble.animation.css';
/*! purgecss end ignore */

html {
  scroll-behavior: smooth;
}

svg {
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

@font-face {
  src: url('../public/fonts/InputMono-Regular.woff2') format('woff2'),
    url('../public/fonts/InputMono-Regular.woff') format('woff');
  font-family: 'InputMono';
  font-style: normal;
  font-weight: normal;
}
.font-input-mono {
  font-family: 'InputMono', monospace;
}
code,
pre,
.prose code,
.prose pre {
  font-family: 'InputMono', monospace;
}

/*
  General CSS rules for markdown iframes and img
 */
iframe[src*='youtube'] {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
}
.prose iframe,
.prose img {
  display: block;
  margin: 1.7rem auto;
}
.prose iframe {
  width: 100%;
  max-width: 560px;
}
.prose img {
  width: max-content;
}

/*
  Code embed
 */
.prose pre {
  background: inherit !important;
  color: inherit !important;
  border: 1px solid #e1e4e8;
}

/*
  Headers
 */

.prose h5,
.prose h6 {
  font-weight: 600;
}

/*
  Conf
 */
.date-container-l,
.date-container-r {
  position: relative;
}
.date-container-l .bg-blue-nx-dark:before {
  background: hsla(214, 61%, 11%, 1);
  content: ' ';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.date-container-r .bg-blue-nx-dark:after {
  background: hsla(214, 61%, 11%, 1);
  content: ' ';
  height: 100%;
  right: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.workshop-border-r {
  position: relative;
}
.workshop-border-r:after {
  border-bottom: 1px solid rgb(75, 85, 99);
  border-top: 1px solid rgb(75, 85, 99);
  content: ' ';
  height: 100%;
  right: -100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * Only used for animated background on really big definition
 */
@media (min-width: 2400px) {
  div#animated-background {
    background-size: cover !important;
  }
}
