/*! purgecss start ignore */
@import '../../feature-search/src/lib/algolia-search.global.css';
@import './syntax-highlight.css';
/*! purgecss end ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}

@font-face {
  src: url('../public/fonts/InputMono-Regular.woff2') format('woff2'),
    url('../public/fonts/InputMono-Regular.woff') format('woff');
  font-family: 'InputMono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
.font-input-mono {
  font-family: 'InputMono', monospace;
}
code,
pre,
.prose code,
.prose pre {
  font-family: 'InputMono', monospace;
}

/** Scrollbars **/
.dark {
  color-scheme: dark;
}

/** Layout **/
#__next {
  height: 100%;
}

/** Theme Switcher **/
.changing-theme,
.changing-theme * {
  transition: none !important;
}

/*
  General CSS rules for markdown iframes and img
 */
iframe[src*='youtube'] {
  aspect-ratio: 16 / 9;
}
.prose iframe,
.prose img {
  display: block;
  margin: 2rem auto;
}
.prose iframe {
  width: 100%;
  max-width: 560px;
}
.prose img {
  width: max-content;
}

.prose iframe[src^="https://staging.nx.app"],
.prose iframe[src^="https://nx.app"]
{
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

/*
  Headers
 */
.prose h5,
.prose h6 {
  font-weight: 600;
}

/**
 * Tooltips
 */
[data-tooltip] {
  cursor: help;
  position: relative;
}

[data-tooltip]:before {
  background-color: hsla(214, 61%, 11%, 1);
  border-radius: 0.375rem;
  color: hsla(0, 0%, 95%, 1);
  content: attr(data-tooltip);
  left: 0;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 120%;
  transition: opacity 150ms ease-out;
  visibility: hidden;
  z-index: 1;
  width: max-content;
}

[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}
