@import '~tippy.js/dist/tippy.css';

@tailwind components;
@tailwind base;
@tailwind utilities;

$gray: rgba(209, 213, 219, 1);
$bgDarkPrimary: #292524;
$bgDarkSecondary: #171717;
$textDark: #cbd5e1;

#app,
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#app {
  display: flex;
}

#no-projects-chosen {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#graph-container,
#cytoscape-graph {
  width: 100%;
  height: 100%;
}

canvas {
  cursor: pointer;
}

.tippy-box,
[data-theme~='nx'] {
  box-sizing: border-box;
  border-style: solid;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: $gray;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  color: hsla(217, 19%, 27%, 1);
  padding: 0.375rem;
  min-width: 250px;

  .tippy-content {
    padding: 0.375rem;
  }

  &[data-placement^='top'] {
    margin-bottom: 1rem;

    & > .tippy-arrow::before {
      border-top-color: $gray;
    }
  }

  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: $gray;
  }
  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: $gray;
  }
  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: $gray;
  }
}

.tag {
  padding: 0.5rem;
  font-family: system-ui;
  font-size: 0.75rem;
  line-height: 1rem;
  display: inline-block;
  background-color: hsla(214, 62%, 21%, 1);
  border-radius: 0.375rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.025em;
  margin-right: 0.75rem;
}

.tippy-box[data-theme~='nx'] h4 {
  font-family: monospace;
}
.tippy-box[data-theme~='nx'] p {
  margin: 0.375rem;
}
.tippy-box[data-theme~='nx'] button {
  background-color: rgba(249, 250, 251, 1);
  border-color: $gray;
  border-width: 1px;
  border-radius: 0.375rem;
  color: rgba(107, 114, 128, 1);
  margin: 0.375rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: rgba(243, 244, 246, 1);
  }
}

.tippy-box[data-theme~='dark-nx'] {
  @extend .tippy-box, [data-theme~='nx'];
  background-color: $bgDarkPrimary;
  color: $textDark;

  button {
    background-color: $bgDarkSecondary;
    color: $textDark;

    &:hover {
      background-color: rgba($bgDarkSecondary, $alpha: 0.3);
    }
  }
}
