@tailwind components;
@tailwind base;
@tailwind utilities;

/** Scrollbars **/
.dark {
  color-scheme: dark;
}

#app,
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#app {
  display: flex;
}

canvas {
  cursor: pointer;
}
