---
import { type ProjectDetailsProps, ProjectDetails as Default } from '@nx/nx-dev-ui-markdoc/src/lib/tags/project-details.component';
type Props = ProjectDetailsProps;
---

<div class="pdv">
  <Default client:visible {...Astro.props} isAstro={true}>
    <slot />
  </Default>
</div>


<style>
 .pdv :global(ul) {
    list-style: none;
    padding: 0;
 }
</style>
