name: E2E matrix (Windows)

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

permissions: {}
jobs:
  e2e:
    permissions:
      contents: read

    runs-on: windows-latest
    strategy:
      matrix:
        node_version:
          - '16'
        package_manager:
          - npm
        project:
          - e2e-add-nx-to-monorepo
          - e2e-angular-core
          - e2e-angular-extensions
          - e2e-cra-to-nx
          - e2e-cypress
          - e2e-esbuild
          - e2e-jest
          - e2e-js
          - e2e-lerna-smoke-tests
          - e2e-linter
          - e2e-make-angular-cli-faster
          - e2e-next
          - e2e-node
          - e2e-nx-init
          - e2e-nx-misc
          - e2e-nx-plugin
          - e2e-nx-run
          - e2e-react
          - e2e-web
          - e2e-rollup
          - e2e-storybook
          - e2e-storybook-angular
          - e2e-vite
          - e2e-webpack
          - e2e-workspace-create
          - e2e-e2e-workspace-create-npm
          - e2e-graph-client
        include:
          # codeowner groups
          - project: e2e-add-nx-to-monorepo
            codeowners: 'S04SYHYKGNP'
          - project: e2e-angular-core
            codeowners: 'S04SS457V38'
          - project: e2e-angular-extensions
            codeowners: 'S04SS457V38'
          - project: e2e-cra-to-nx
            codeowners: 'S04TNCNJG5N'
          - project: e2e-cypress
            codeowners: 'S04T16BTJJY'
          - project: e2e-esbuild
            codeowners: 'S04SJ6HHP0X'
          - project: e2e-jest
            codeowners: 'S04T16BTJJY'
          - project: e2e-js
            codeowners: 'S04SJ6HHP0X'
          - project: e2e-lerna-smoke-tests
            codeowners: 'S04TNCVEETS'
          - project: e2e-linter
            codeowners: 'S04SYJGKSCT'
          - project: e2e-make-angular-cli-faster
            codeowners: 'S04SS457V38'
          - project: e2e-next
            codeowners: 'S04TNCNJG5N'
          - project: e2e-node
            codeowners: 'S04SJ6HHP0X'
          - project: e2e-nx-init
            codeowners: 'S04SYHYKGNP'
          - project: e2e-nx-misc
            codeowners: 'S04SYHYKGNP'
          - project: e2e-nx-plugin
            codeowners: 'S04SYHYKGNP'
          - project: e2e-nx-run
            codeowners: 'S04SYHYKGNP'
          - project: e2e-react
            codeowners: 'S04TNCNJG5N'
          - project: e2e-web
            codeowners: 'S04SJ6PL98X'
          - project: e2e-rollup
            codeowners: 'S04SJ6PL98X'
          - project: e2e-storybook
            codeowners: 'S04SVQ8H0G5'
          - project: e2e-storybook-angular
            codeowners: 'S04SVQ8H0G5'
          - project: e2e-vite
            codeowners: 'S04SJ6PL98X'
          - project: e2e-webpack
            codeowners: 'S04SJ6PL98X'
          - project: e2e-workspace-create
            codeowners: 'S04SYHYKGNP'
          - project: e2e-e2e-workspace-create-npm
            codeowners: 'S04SYHYKGNP'
          - project: e2e-graph-client
            codeowners: 'S04T16QL360'
      fail-fast: false

    name: ${{ matrix.project }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare dir for output
        run: mkdir -p outputs

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          registry-url: http://localhost:4872

      - name: Yarn cache directory path
        id: yarn-cache-dir-path
        shell: bash
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - name: Cache yarn
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: windows-node-${{ matrix.node_version }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            windows-node-${{ matrix.node_version }}-yarn-
            windows-node-${{ matrix.node_version }}-
            windows-

      - name: Install packages
        run: yarn install --prefer-offline --frozen-lockfile --non-interactive

      - name: Run e2e tests
        run: yarn nx run-many --target=e2e --projects="${{ join(matrix.project) }}" --parallel=1
        env:
          GIT_AUTHOR_EMAIL: test@test.com
          GIT_AUTHOR_NAME: Test
          GIT_COMMITTER_EMAIL: test@test.com
          GIT_COMMITTER_NAME: Test
          NX_E2E_CI_CACHE_KEY: e2e-gha-windows-${{ matrix.node_version }}-${{ matrix.package_manager }}
          NX_E2E_RUN_CYPRESS: ${{ 'true' }}
          NODE_OPTIONS: --max_old_space_size=8192
          SELECTED_PM: ${{ matrix.package_manager }}
          npm_config_registry: http://localhost:4872
          NX_VERBOSE_LOGGING: ${{ 'true' }}
          NX_E2E_SKIP_BUILD_CLEANUP: ${{ 'true' }}
          NX_CACHE_DIRECTORY: ${{ 'tmp' }}

      - name: Save matrix config in file
        if: ${{ always() }}
        id: save-matrix
        run: |
          matrix=$((
            echo '${{ toJSON(matrix) }}'
          ) | jq -c '. + { "status": "${{ steps.e2e-run.outcome}}" }')
          echo "$matrix" > matrix
          path=outputs/${{ matrix.node_version}}-${{ matrix.package_manager}}-${{ matrix.project }}
          echo "path=$path" >> $GITHUB_OUTPUT
          echo "$matrix" > $path

      - name: Upload matrix config
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: outputs
          path: ${{ steps.save-matrix.outputs.path }}

      - name: Setup tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled && failure() }}
        uses: mxschmitt/action-tmate@v3.8
        timeout-minutes: 15
        with:
          sudo: false # disable sudo for windows debugging

  process-result:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: e2e
    outputs:
      message: ${{ steps.process-json.outputs.SLACK_MESSAGE }}
      codeowners: ${{ steps.process-json.outputs.CODEOWNERS }}
    steps:
      - name: Load outputs
        uses: actions/download-artifact@v3
        with:
          name: outputs
          path: outputs

      - name: Join and stringify matrix configs
        id: combine-json
        run: |
          combined=$((jq -s . outputs/*) | jq tostring)
          echo "combined=$combined" >> $GITHUB_OUTPUT

      - name: Make slack outputs
        id: process-json
        uses: actions/github-script@v6
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          script: |
            const combined = JSON.parse(${{ steps.combine-json.outputs.combined }});
            const failedProjects = combined.filter(c => c.status === 'failure');

            // codeowners
            const codeowners = new Set();
            failedProjects.forEach(c => {
              codeowners.add(c.codeowners);
            });
            core.setOutput('CODEOWNERS', Array.from(codeowners).join(','));

            // message
            let result = `
              \`\`\`
               | Failed project                | Node | PM   | OS     |
               |-------------------------------|------|------|--------|`;
            failedProjects.forEach(matrix => {
              result += `\n| ${matrix.project.padEnd(30)} | v${matrix.node_version.padEnd(3)} | ${matrix.package_manager.padEnd(4)} | Windows |`
            });
            result += `\`\`\``;
            const message = result.split('\n').map(l => l.trim()).join('\n');
            core.setOutput('SLACK_MESSAGE', message);

  report-failure:
    if: ${{ failure() && github.repository_owner == 'nrwl' && github.event_name != 'workflow_dispatch' }}
    needs: process-result
    runs-on: ubuntu-latest
    name: Report failure
    steps:
      - name: Send notification
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: 'failure'
          message_format: '{emoji} Workflow has {status_message} ${{ needs.process-result.outputs.message }}'
          notification_title: '{workflow}'
          footer: '<{run_url}|View Run> / Last commit <{commit_url}|{commit_sha}>'
          mention_groups: ${{ needs.process-result.outputs.codeowners }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}

  report-success:
    if: ${{ success() && github.repository_owner == 'nrwl' && github.event_name != 'workflow_dispatch' }}
    needs: e2e
    runs-on: ubuntu-latest
    name: Report success
    steps:
      - name: Send notification
        uses: ravsamhq/notify-slack-action@v2
        with:
          status: ${{ needs.e2e.result }}
          message_format: '{emoji} Workflow has {status_message}'
          notification_title: '{workflow}'
          footer: '<{run_url}|View Run> / Last commit <{commit_url}|{commit_sha}>'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
